extends layout

block content
  .news
    form(method="get")
      input(type="text" name="search")
      input(type="submit", value="Search")
    h2 News
    each item in dataNews
        article
          h1(class="title")=item.title          
          p(class="content")=item.content
          p(class="date")=item.created
  .articles
    h2 Articles
    each item in dataArticles
        article
          h1(class="title")=item.title
          p(class="date")=item.created
          p(class="content")=item.content
